/*noinspection CssUnknownTarget*/
@import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono&amp;display=swap';

:root {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3vw;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #b2b2b2;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-desc {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.linktree {
  background: rgba(32, 32, 32, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.links {
  padding-left: 0px;
}

#description {
  font-size: 16px;
  padding-left: 32px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(106.43deg, #FF9900 -7.53%, #BD00FF 146.26%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
