@media only screen and (max-width: 509px) {
    #root {
        padding: 3rem 0;
    }

    h4 {
        font-weight: 700;
        margin: 0;
        font-size: 16px;
    }

    .profile-container {
        width: 80vw;
    }

    .profile-avatar {
        height: 80px;
    }

    .profile-avatar img {
        height: 80px;
    }

    .tab {
        margin: 8px;
        max-width: 70vw;
    }

    .profileStatus {
        font-size: 16px;
    }

    .profileNickname {
        padding-top: 8px;
        font-size: 20px;
    }

    .profileAbout {
        padding-top: 8px;
    }

    .profileConnections {
        padding-top: 8px;
        max-width: 70vw;
    }

    .integrationTab {
        padding-top: 8px;
        margin-top: 8px;
    }

    .profileAbout p {
        font-size: 16px;
    }

    .profile-images {
        margin: 8px;
    }

    .conn-container {
        font-size: 16px;
    }

    .titledConnectionContainer {
        grid-template-columns: 20vw 27vw 20vw;
    }

    .conn-icon {
        height: 48px;
    }
}