.profile-container {
  padding: 6px;
  
  width: 420px;

  background: linear-gradient(180deg, var(--profile-primary) 0%, var(--profile-secondary) 100%);
  border-radius: 12px;
}

.profile {
  background: var(--profile-background-primary);
  
  padding: 4px;
  
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

.profile-avatar {
  justify-self: flex-start;
  align-self: end;
  height: 100px;
  margin: 8px;
}

.profile-avatar img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  border: 4px solid var(--profile-primary);
}

.profile-info {
  display: flex;
  flex-direction: column;
  background: var(--profile-background-secondary);
  border-radius: 8px;
  margin: 8px;
}

.tab {
  align-self: flex-start;
  margin: 0px 12px 12px;
  width: -moz-available;
  width: available;
}

.profileStatus {
  color: var(--text-secondary);
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.profileNick {
  display: block;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
}

.profileAbout {
  padding-top: 12px;

  border-top: 3px solid var(--lines-secondary);
}

.profileConnections {
  padding-top: 12px;
  border-top: 3px solid var(--lines-secondary);

  max-width: 372px;
}

.integrationTab {
  padding-top: 12px;
  border-top: 3px solid var(--lines-secondary);
  margin-top: 12px;
}

.profileAbout p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-secondary);
}

.profile-images {
  display: inline-grid;
  grid-auto-flow: column;
  margin: 12px;
}

.profile-badges {
  max-width: 160px;
  width: fit-content;

  flex-wrap: wrap-reverse;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-self: end;
  background: var(--profile-background-secondary);
  padding: 4px;
  border-radius: 8px;
}

.badge-icon {
  display: block;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.profile-connections {
  display: flex;
  flex-direction: column;
}

.untitledConnections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titledConnections {
  display: flex;
  flex-direction: column;
}

.conn-container {
  display: flex;
  margin: 8px;

  background: var(--profile-background-secondary);
  border-radius: 12px;
  padding: 8px;

  border: 2px solid var(--text-primary);
}

.titledConnectionContainer {
  display: inline-grid;
  grid-template-columns: 64px 230px 48px;
}

.titledConnectionContainer p {
  justify-self: center;
}

.conn-container p {
  margin: 8px;
  align-self: center;
}

.conn-icon {
  height: 56px;
  width: auto;
  display: block;
  align-self: center;
}

.conn-linker {
  align-self: center;
  justify-self: center;
}

.conn-linker img {
  height: 40px;
  width: auto;
  display: block;
}



